

<%= render 'shared/header' %>


<div class="container">

  <h2>アカウント作成</h2>

  <%= form_for @user do |f| %>


    <li><%= f.label :名前 %></li>

    <li><%= f.text_field :name %></li>


    <li><%= f.label :メールアドレス %></li>

    <li><%= f.email_field :email %></li>

    <li><%= f.label :パスワード %></li>

    <li><%= f.password_field :password %></li>

    <li><%= f.label :パスワード（確認用） %></li>

    <li><%= f.password_field :password_confirmation %></li>


  <%= f.submit '送信' %>


  <% end %>

</div>




<%= render 'shared/footer' %>
