


<%= render 'shared/header' %>



  <div class="user-show-main">
    <div class="container">
      <div class="row user-show-detail">

        <div class="col-md-5 user-show-detail-left">


            <div class="row">

              <div class="col-sm-6">

                <%= image_tag @user.icon, {:class => "img-circle" } %>

              </div>

              <div class="col-sm-6 user-name-email">

                <div>
                  <h3><%= @user.name %></h3>
                </div>

                <div>
                  <h4><%= @user.email %></h4>

                </div>

                <div class="user-edit-btn">
                  <%= link_to 'プロフィール編集', edit_user_path(current_user), { :class => "btn btn-warning"} %>
                </div>

              </div>

            </div>




        </div>

        <div class="col-md-5 user-show-detail-right">

          <div>
            <!-- <h4>スペース登録数 ( <%= @user.spaces.count %> )</h4> -->
          </div>

        </div>

      </div>


    </div>
<!-- container -->

<div class="container">
  <div class="user-show-space">
    <h3>登録中のコ・ワーキングスペース ( <%= @user.spaces.count %> )</h3>

    <div class="row">

        <%= render @spaces %>

    </div>

  </div>

</div>




  </div>
<!-- user-show-main -->






<%= render 'shared/footer' %>
